<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input [control]="cardForm.get('name')" label="Name"></app-input>
  <app-input
    [control]="cardForm.get('cardNumber')"
    label="Card Number"
  ></app-input>
  <div class="columns">
    <div class="column">
      <app-input
        [control]="cardForm.get('expiration')"
        label="Expiration"
      ></app-input>
    </div>
    <div class="column">
      <app-input
        [control]="cardForm.get('securityCode')"
        label="Security Code"
      ></app-input>
    </div>
  </div>

  <div class="buttons">
    <button
      type="submit"
      [disabled]="cardForm.invalid"
      class="button is-primary"
    >
      Submit
    </button>
    <button type="button" class="button is-warning" (click)="onResetClick()">
      Reset
    </button>
  </div>
</form>
